- provide(:title, 'Help')

%h1 Help
%p
  This is the help page of the sample app.
%p Bla bla bla again.
%p I just wrote another failing test. And then made it pass.
%p hooray.
%p again.

%h2
%p Next steps: Removed layout and added it to each static page.
%p Then dynamically set titles with 'provide'.
%p Tweaked tests a little because of haml newlines, and then all passed.
