- provide(:title, 'Home')

%h1 Sample App
%p
  This is the home page of the sample app. For
  %a{href: "http://railstutorial.org/"} Rails Tutorial.
%p I'm learning a lot. But it's going slow.
%p Bla bla bla.
%p But: I just wrote a failing test. And then made it pass.
%p hooray.
