= form_for(@micropost) do |f|
  = render 'shared/error_messages', object: f.object

  .field
    = f.text_area :content,
      placeholder: "Type new micropost...",
      maxlength: 140

  = f.submit "Post", class: "btn btn-large btn-primary"

:javascript
  $(function() {
    counter = $('<span class="character_countdown"></span>');
    $(counter).insertAfter("#micropost_content");

    updateCountdown();
    $('#micropost_content').change(updateCountdown);
    $('#micropost_content').keyup(updateCountdown);

    function updateCountdown() {
      var remaining = 140 - $('#micropost_content').val().length;
      $('.character_countdown').text(remaining + " characters remaining");
    }
  })
